#stylehome{
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#bg{
  background-image: url("cardbg.jpg");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#cardimg{
  max-width: 1000px;
  max-height: 450px;
  border-radius: 15px;
}
#menucard1{
  margin-left: 90px;
}
#moremenu{
  margin-left: 660px;
  width:200px;
  height:60px;
  padding:3px;
  border-radius: 30px;
  font-size: x-large;
}
.bg-img {
    background-image: url("home.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  #t{
      color: #faf3e0;
      font-size: larger;
      position: absolute;
      margin-left: 20px;
  }
  #p{
      position: relative;
  }
  #alignnav{
      position:fixed;
  }
  
  #item:link, #item:visited {
    background-color: #faf3e0;
    color: #1e212d;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  #item{
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
  }
  #item:hover, #item:active {
    background-color: #eabf9f;
    color: #1e212d;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  #topic{
    text-align:center;
    font-family: 'Dancing Script', cursive;
    font-size: 110px;
    color: #faf3e0;
    padding:100px;
  }
  #image{
    height:100px;
    width:100px;
  }
  #about{
    background-image: linear-gradient(to bottom right, #ff884b, #ffc764);
    font-size: x-large;
    padding:60px;
    font-style: normal;
    font-weight: normal;
}
#heading{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 30px;
}
.grid-child{
  background-color: #91091e;
  color:#faf3e0;
  border-radius: 10px;
  padding:30px;
  font-size: large;
}
.grid-child:hover{
  background-color: #1e212d;
}
.mm{
  text-align: center;
  font-family: 'Dancing Script', cursive;
    font-size: 110px;
    color: #faf3e0;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #23689b;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#menubutton{
  text-decoration: none;
  color: white;
}
#myBtn:hover {
  background-color: #555;
}
  @media only screen and (max-width: 600px) {
    #t{
        color: #faf3e0;
        font-size: small;
        position: absolute;
        margin-left: 3px;
    }
    #p{
        position: relative;
    }
    #alignnav{
        position:fixed;
    }
    
    #item:link, #item:visited {
      background-color: #faf3e0;
      color: #1e212d;
      padding: 3px 4px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    #item{
      margin: 2px;
      border-radius: 8px;
      font-size: 15px;
      width:70px;
      margin-top: 15px;
    }
    #item:hover, #item:active {
      background-color: #eabf9f;
      color: #1e212d;
      padding: 3px 4px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    #topic{
      text-align:center;
      font-family: 'Dancing Script', cursive;
      font-size: 70px;
      color: #faf3e0;
      padding:80px;
      margin-top: 65px;
    }
    #image{
        height:60px;
        width:60px;
    }
    #about{
      background-image: linear-gradient(to bottom right, #ff884b, #ffc764);
        font-size: medium;
        padding:12px;
        font-style: normal;
        font-weight: normal;
  }
#menubutton{
  text-decoration: none;
  color: white;
}
  #heading{
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-size: medium;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
  }
  .grid-child{
    background-color: #91091e;
    color:#faf3e0;
    border-radius: 10px;
    padding:10px;
    font-size: small;
  }
  .grid-child:hover{
    background-color: #1e212d;
  }

  #cardimg{
    max-height: 200px;
    border-radius: 40px;
    padding:10px;
  }
  .mm{
    text-align: center;
    font-family: 'Dancing Script', cursive;
      font-size: 70px;
      color: #faf3e0;
  }
  #menucard1{
    height:auto;
    max-width: 270px;
  }
  #menucard2{
    height:auto;
    max-width: 270px;
  }
  #moremenu{
    margin-left: 110px;
    width:150px;
    height:50px;
    padding:5px;
    border-radius: 30px;
    font-size: large;
  }
}
